{% import 'section_ranking.html' as section_ranking %}

{% extends "base.html" %}


{% block title %} Hanking Codewars {% endblock title %}
{% block content_title %} Hanking Codewars {% endblock content_title %}

{% block content %}
    <div class="row">
        <div class="col">
            {% include 'menu.html' with context %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ section_ranking.section_ranking(codewars_ranking, 'Com mais de 40', 'g', 40 ) }}
        </div>

        <div class="col">
            {{ section_ranking.section_ranking(codewars_ranking, 'Com 40 pontos ou menos', 'l', 40 ) }}
        </div>
    </div>



{% endblock content %}
