{% extends "base.html" %}

{% block title %} Hanking Codewars {% endblock title %}
{% block content_title %} Hanking Codewars {% endblock content_title %}

{% block content %}

    <div class="row">
        <div class="col">
            <h2>Acima de 40</h2>
            <ul>
                {% for codewar_item in codewars_ranking %}
                    {% if codewar_item['points'] > 40 %}
                        <li>
                            <strong>{{ codewar_item['name'] }}</strong> => {{ codewar_item['points'] }} pts
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <h2>Com 40 pontos ou menos</h2>
            <ul>
                {% for codewar_item in codewars_ranking %}
                    {% if codewar_item['points'] <= 40 %}
                        <li>
                            <strong>{{ codewar_item['name'] }}</strong> => {{ codewar_item['points'] }} pts
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>



{% endblock content %}
